%div{ :class => "well container" }
  %h1 Edit Existing Robot

  %form{ :class => "form-horizontal",
         :role => "form",
         :action => "/robots/#{@robot.id}", 
         :method => "POST" }

    %div{ :class => "form-group" }
      %input{ :type => "hidden", :name => "_method", :value => "PUT" }

    %div{ :class => "form-group" }
      %label{ :class => "control-label col-sm-2" } Name:
      %div{ :class => "col-sm-10" }
        %input{ :type => "text", :name => "robot[name]", :value => @robot.name }

    %div{ :class => "form-group" }
      %label{ :class => "control-label col-sm-2" } City:
      %div{ :class => "col-sm-10" }
        %input{ :type => "text", :name => "robot[city]", :value => @robot.city }

    %div{ :class => "form-group" }
      %label{ :class => "control-label col-sm-2" } State:
      %div{ :class => "col-sm-10" }
        %input{ :type => "text", :name => "robot[state]", :value => @robot.state }

    %div{ :class => "form-group" }
      %label{ :class => "control-label col-sm-2" } Birthdate:
      %div{ :class => "col-sm-10" }
        %input{ :type => "text", :name => "robot[birthdate]", :value => @robot.birthdate }

    %div{ :class => "form-group" }
      %label{ :class => "control-label col-sm-2" } Date Hired:
      %div{ :class => "col-sm-10" }
        %input{ :type => "text", :name => "robot[date_hired]", :value => @robot.date_hired }

    %div{ :class => "form-group" }
      %label{ :class => "control-label col-sm-2" } Department:
      %div{ :class => "col-sm-10" }
        %input{ :type => "text", :name => "robot[department]", :value => @robot.department }

    %div{ :class => "form-group" }
      %div{ :class => "col-sm-offset-2 col-sm-10" }
        %button{ :type => "submit", :class => "btn btn-primary"} Edit Robot
