%form{ :action => "/robots/#{@robot.id}", :method => "POST" }
  %p Edit Existing Robot:
  %table
    %input{ :type => "hidden", :name => "_method", :value => "PUT"  }
    %tr 
      %td Robot name:
      %td 
        %input{ :type => "text", :name => "robot[name]", :value => @robot.name }
    %tr 
      %td Robot city:
      %td 
        %input{ :type => "text", :name => "robot[city]", :value => @robot.city }
    %tr 
      %td Robot state:
      %td 
        %input{ :type => "text", :name => "robot[state]", :value => @robot.state }
    %tr 
      %td Robot birthdate:
      %td 
        %input{ :type => "text", :name => "robot[birthdate]", :value => @robot.birthdate }
    %tr 
      %td Robot date hired:
      %td 
        %input{ :type => "text", :name => "robot[date_hired]", :value => @robot.date_hired }
    %tr 
      %td Robot department:
      %td 
        %input{ :type => "text", :name => "robot[department]", :value => @robot.department }
    %tr
      %td
        %input{ :type => "submit" }
