%h1 Robot Inventory

- @robots.each do |robot|
  %h3 
    ="#{robot.id}:"
    %a{ :href => "/robots/#{robot.id}" }
      =robot.name
    %div{ :class => "btn-group", :role => "group" }
      %div{ :class => "btn-group", :role => "group" }
        %a{ :href => "/robots/#{robot.id}/edit", :class => "btn btn-info", :role => "button" } Edit Robot

      %div{ :class => "btn-group", :role => "group" }
        %form{ :action => "/robots/#{robot.id}", :method => "POST", }
          %input{ :type => "hidden", :name => "_method", :value => "DELETE" }
          %button{ :type => "submit", :class => "btn btn-danger" } Delete Robot

