%a{ :href => "/" } Home

%h1 All Robots

- @robots.each do |robot|
  %h3 
    =robot.id
    %a{ :href => "/robots/#{robot.id}" }
      =robot.name
  %a{ :href => "/robots/#{robot.id}/edit" }
    Edit
  %form{ :action => "/robots/#{robot.id}", :method => "POST" }
    %input{ :type => "hidden", :name => "_method", :value => "DELETE" }
    %input{ :type => "submit", :value => "delete robot" }

